<th:block>
    <header>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a th:href="@{/login}" href="/">Login</a>
                </li>
                <li>
                    <a th:href="@{/register}" href="/">Register</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
            </ul>
        </nav>
    </header>
</th:block>